/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

* {
    background-color: rgb(249, 234, 225);
}

.Body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.HeaderOne {
    font-family: 'Paytone One';
    color: rgb(50, 144, 143);
    font-size: 3rem;
    margin: 30px auto;
}

.SpecialButton {
    display: flex;
    align-self:center;
    margin: 200px auto;
    height: 200px;
    width: 400px;
    font-family: 'News Cycle';
    font-size: 3rem;
    text-align: center;
    border: 1px solid rgb(50, 144, 143);
    border-radius: 15px;
    /* background-color: rgb(50, 144, 143, 0.75); */
    background-image: linear-gradient(190deg, rgb(98, 229, 229) 1%, rgb(50, 144, 143));
    /* background-image: radial-gradient(ellipse at left bottom, #F0D1BF 30%, #BD8265 99%); */
    box-shadow: 3px 7px 15px 3px rgb(169, 169, 169) ;
}

@media only screen and (max-width: 768px) {
    .HeaderOne {
        font-size: 2rem;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 368px) {
    .HeaderOne {
        font-size: 2rem;
        margin: 0 auto;
    }
}

